{
  "plugins": [
    "react"
  ],
  "extends": [
    "plugin:react/recommended",
    "standard"
  ],
  "rules": {
    "semi": [2, "always"]
  },
  "env": {
      "browser": true,
      "jest": true
  }
}